

@keyframes topCenter {
    from {
        top: 0px;
        width: 100%;
      }
    top {
        top: 100px;
        width: 500px;
    }
}

.al-search-field {
    width: calc(100% - 100px);
}

mat-form-field.al-search-field.mat-input-container.mat-form-field.ng-tns-c4-0.mat-primary.mat-form-field-type-mat-input.mat-form-field-can-float.mat-form-field-hide-placeholder.ng-valid.mat-form-field-should-float.ng-dirty.ng-touched {
    width: calc(100% - 101px);
}