<mat-toolbar class="al-inital" [ngClass]="{'al-search-executed':firstSearch}">
    <mat-toolbar-row class="al-full-logo">
        <img src="./assets/img/youtube.png">
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div class="al-small-logo"><img src="./assets/img/youtube.png"></div>
        <div id="al-search-container">
            <mat-form-field class="al-search-field">
                <input matInput placeholder="Pesquisar" value="" [(ngModel)]="term" />
            </mat-form-field>
            <button mat-raised-button (click)="search()" color="primary">
                  <i class="material-icons">Pesquisar</i>
              </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div id="al-container-result" class="al-invisible" [ngClass]="{'al-visible': hasItens()}">
    <mat-card *ngFor="let item of items">
        <mat-card-header>
            <mat-card-title>{{item.snippet.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-md-image [src]="item.snippet.thumbnails.high.url" [alt]="item.snippet.title">
        <mat-card-content>
            <div>
            </div>
            <div>
                    {{item.snippet.description}}
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [routerLink]="['./watch']" [queryParams]="{id: item.id.videoId}" mat-raised-button>VER</button>
        </mat-card-actions>
    </mat-card>
</div>
<button [hidden]="result.items == null" mat-button color="primary" (click)="nextPage(result.nextPageToken)" >Mais</button>
<router-outlet></router-outlet>